.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.title {
  align-self: center;
  font-size: 52px;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.description {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 25px;
}

.colorPicker {
  align-self: center;
  margin: 7% 0 3% 0;
}
